body{
    background-color:#E8E7E2 ;
}
.li{
   
    margin-left: 100px;
    margin-top: 20px;
    color: #ebd792;
}
nav{
    background-color: #E8E7E2;
    border-bottom: 1px solid black;
}
#logo{
    width: 7vw;
    height: 15vh;
}

#d1{padding-bottom: 3vh;
    
    background-color: #E8E7E2;
}
#d2{padding-top: 5vh;
    background-color: #b8b7b2;
}
#d3{padding-top: 5vh;
    background-color: #B5B4B1;
   margin-bottom: auto;
   padding-bottom: 20px ;
}
.lif{
   
    margin-right: 80px;
  
    color: #ebd792;
    display: inline;
}

.media{
    width: 3vw;
    height: 6vh;

}
#media{
    width: 6vw;
    height: 8vh;

}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  
  .car{
      border-radius: 30px;
  }
  .navf{
      background-color: #0C273D;
  }
#ajouté{background-color: #E8E7E2;
    display: none;
    padding: 100px;
    color: #000000;
}
#listes{ 
    color: #ebd792;
    display: none;
    background-color: #E8E7E2;
}
h1{font-family:ocr a;}
label{
    font-family:ocr a;
color: #ebd792;
}
.inpt{background-color: #E8E7E2;}
#btn{background-color: #EBDB9F;
    font-family:ocr a;
    outline-style: none;
    border-radius: 30px;
}
.text-dark-50{
    color: #000000;
}
    button{
        background-color:#ECDB9F;
      border: #ECDB9F;   
    }
    h1{
        text-align: center;
        justify-items: center;
    }
    
    .div1{
        width: 25vw;
        background-color: #6961477e;
        border-radius: 10px;
 }


    